input {
  margin-left: 10px;
  padding: 5px 5px;
}

input[type=submit] {
  background-color: lightgreen;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}

label {
  padding: 10px;
}

select {
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  margin: 10px 0 10px 0;
  width: 800px;
}

th, td {
  border: 1px solid;
  padding: 10px;
}